p{
            color:blue;
            font-size:18px;
        }
h1{
    color:aqua;
    text-align:right;
}
.bpara{
    color:red;
    font-size:20px;
    text-align:match-parent;
}

.example{
    border: 1px solid black;
    text-align:center;
}
.text-left{
    text-align:left;
}